html, body, header {
    /* background-color: #FFE0DB; */
    background-color: rgb(240, 235, 236);
}

body {
    margin: 0px;
}

header {
    background-image: url("../img/Ink-Flow-Background.png");
    background-size: cover;
    background-position: center;
    margin: 0px;
    padding: 0px;
    height: 800px;
}

#main-page-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12%;
    padding-top: 10%;
    width: 15%;
}

h1, .section-title {
    text-align: center;
    font-family: 'Georgia', 'PT Serif', sans-serif;
}

#arrow-down {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    height: 10%;
}

/* Maybe TODO: change color of links to color of icon --> see if can do this for arrow */
.menu-link {
    text-decoration: none;
    color: black;
}

.menu-link:hover {
    /* color: #DC5039; */
    color: #0C657E;
    text-decoration: none;
    cursor:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAaCAMAAABigZc2AAAACVBMVEX///8AAAD///9+749PAAAAAXRSTlMAQObYZgAAAFpJREFUeNp9jUEOwEAIAhn+/+imjbs1bC0XzQioSUAAYZs0mcVY051RbGXfFsyxibTVHXhuhXYlbuRGPbe7kz3g0wf679OuizDBdCaberLE4AsjGliD02eNugA+MQFAPqynHQAAAABJRU5ErkJggg==),auto;
}

.project-section {
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-title {
    text-align: center;
    font-size: 4em;
    margin-top: 50px;
}

.project-option {
    padding-top: 30px;
}